.article {
  display: flex;
  justify-content: end;
  height: 99vh;
  align-items: center;
  width: 90vw;
}

.aboutMe__section {
  width: 35%;
  height: 55%;
}

.p {
  height: 40%;
}

.profilpic {
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
}
