.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  justify-content: center;
}

.h1 {
  display: flex;
  justify-content: center;
  margin: 10% auto 0;
  font-weight: 700;
  font-size: 3rem;
}

.article {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 7% auto 0;
  flex-grow: 1;
}

.paragraph__container {
  display: flex;
  flex-direction: column;
  text-align: center;
  max-width: 100ch;
}

.redux__container {
  display: flex;
  display: none;
}
