@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@300;400;700&display=swap");

*,
/*För att få alla element att ha border-box*/
*::before *::backdrop {
  box-sizing: border-box;
  /*Använd nästan alltid*/
}

* {
  /*Ta bort ALL margin och padding i början från alla element*/
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

body {
  font-family: "Bebas", sans-serif;
  height: 100vh;
  background-image: url("https://codetheweb.blog/assets/img/posts/css-advanced-background-images/cover.jpg");
  background-size: cover;
  background-position: bottom;
  overflow: hidden; /* Hide scrollbars */
}

p {
  font-size: 1.2rem;
  background-color: rgba(255, 255, 255, 0.4);
  line-height: 1.5;
  padding: 1rem;
}
