@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@300;400;700&display=swap");

*,
/*För att få alla element att ha border-box*/
*::before *::backdrop {
  box-sizing: border-box;
}

* {
  /*Ta bort ALL margin och padding i början från alla element*/
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

body {
  font-family: "Bebas", sans-serif;
  height: 100vh;
  background-size: cover;
  background-position: bottom;
  overflow: hidden;
}

h1 {
  font-size: 1rem;
}

p {
  font-size: 1.2rem;
  line-height: 1.5;
  padding: 1rem;
}

a {
  color: white;
}

button {
  padding: 1rem;
  margin: 1rem;
  background-color: white;
}

button:hover {
  background-color: black;
  color: white;
}

img {
  position: absolute;
  top: 6rem;
  left: 1rem;
  box-shadow: 0px 0px 10px 3px rgb(131, 131, 131);
}
